.nopadding{
    padding: 0px;
}
.onlineGreen {
    position: absolute;
    top: 1px;
    left: 80%;
    margin-right: 10px;
    background: #08ff14;
    padding: 0px 5px;
    border-radius: 30px;
    color: #fff;
    line-height: 16px;

    text-align: center;
    font-size: 11px;
}
.offlineRed {
    position: absolute;
    top: 1px;
    left: 80%;
    margin-right: 10px;
    background: #ff2e33;
    padding: 0px 5px;
    border-radius: 30px;
    color: #fff;
    line-height: 16px;

    text-align: center;
    font-size: 11px;
}
