<div>
    <div style="background:url('../img/deciveloaction.png');">
    <div class="page-title" style="padding-bottom: 10px;padding-top: 10px">
        <div class="title_left" >
            <h3 style="font-weight:bold; padding-left: 10px">设备注册</h3>
        </div>
    </div>
        </div>
    <div id="pad-wrapper" class="new-user" style="margin-left:150px;margin-top: 30px; ">
        <div class="row form-wrapper">
            <!-- left column -->
            <div class="col-md-6 with-sidebar">
                <div class="container">
                    <form class="new_user_form" name="deviceadd" novalidate ng-submit="addDevice()"
                          cg-busy="{promise:addDevicePromise,message:'加载中',backdrop:false}">
                        <div class="col-md-12 field-box">
                            <label>设备名称:</label>
                            <input class="form-control" placeholder="最多输入20个字符" maxlength="20" type="text" name="deviceName"  required ng-model="deviceName"/>
                        </div>
                        <div class="col-md-6 field-box">
                            <label>设备有效期限:</label>
                                <div class=" col-input-group date" id="datepicker">
                                    <input class="form-control" type="text" required ng-model="date">
                                    <span class="input-group-addon" style="display: none"></span>
                                </div>
                        </div>
                        <div class="col-md-6 field-box">
                            <label>租赁商:</label>
                            <input class="form-control" type="text" placeholder="最多输入20个字符" maxlength="20" name="lesseeName" required ng-model="lesseeName"/>
                        </div>
                        <div class="col-md-6 field-box">
                            <label>租赁商电话:</label>
                            <input class="form-control" type="text"
                                   name="lesseePhone" ng-pattern="/^[1][3458][0-9]{9}$/"required ng-model="lesseePhone"/>
                            <span style="color: #a5393a; line-height: 30px; font-weight: bold; font-size: 12px;"
                                  ng-show="deviceadd.lesseePhone.$error.pattern">请输入正确号码</span>
                             <span style="color: #a5393a; line-height: 30px; font-weight: bold; font-size: 12px;"
                                   ng-show="deviceadd.lesseePhone.required">*必填项</span>
                        </div>

                        <div class="col-md-6 field-box actions">
                            <input type="submit" class="btn btn-primary" style="float:right ;margin-right: 100px;" ng-dsabled="deviceadd.$invalid"  value="增加设备" loading="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
