
<script src="../js/libs/theme.js"></script>
<header class="navbar navbar-inverse" role="banner">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
         <!--<h1 class="navbar-brand" style="color: #e2e2e2">设备远程监控管理平台</h1> -->
    </div>
    <ul class="nav navbar-nav pull-right hidden-xs">
        <li class="dropdown" ng-class="{true:'open'}[isActive]" ng-click="changeActive()">
            <a href="" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                我的账号
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="float: right">
                <li><a href="" ng-click="changeMyInfo()" style="overflow: hidden">修改个人信息</a></li>
                <li><a href="" ng-click="inOutClick()" style="overflow: hidden">退出登录</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- end navbar -->

<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li>
            <a href="#main/devicelocation">
                <i class="icon-align-left"></i>
                <span>设备信息</span>
            </a>
        </li>
        <li ng-show="showManage" id="initToggle">
            <a class="dropdown-toggle" href="#" >
                <i class="icon-th"></i>
                <span>设备管理</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="#main/devicelist">设备操作</a></li>
                <li><a href="#main/adddevice">增加设备</a></li>
            </ul>
        </li>

        <li>
            <a href="#main/commandList">
                <i class="icon-list-alt"></i>
                <span>日志管理</span>
            </a>
        </li>
        <li ng-show="showManage">
            <a class="dropdown-toggle" href="#">
                <i class="icon-group"></i>
                <span>用户管理</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="#main/userlist">用户列表</a></li>
                <li><a href="#main/adduser">用户注册</a></li>
            </ul>
        </li>



    </ul>
</div>
<!-- end sidebar -->


<!-- main container -->
<div ui-view class="content"></div>
<div style="width: 100%;height: 30px; background-color: #f5f5f5;position:fixed;bottom: 0px">
    <div style="margin-top: 5px;width: 45%;float: left;text-align: right;border-right:1px solid #ffffff ">
    <img src="../img/logo.png" style="height: 30px;width: 30px;">
    </div>
    <div style="margin-top: 5px;width: 55%; padding-left: 5px; float: left;text-align: left;line-height:30px;font-size: 16px;">
        平台设计维护宏宝数据科技有限公司
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="modifyMyInfoModal" tabindex="-1" role="dialog"
     aria-labelledby="modifyModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modifyModalLabel">个人信息</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group">
                    <div class="panel panel-default"  cg-busy="{promise:changeUserInfoPromise,message:'加载中',backdrop:false}">
                        <div class="panel-heading"><h3 class="panel-title">个人基本信息</h3></div>
                        <div  class="panel-body">
                            <div class="col-md-6 form-group">
                                <label>姓名：</label>
                                <input type="text" class="form-control" readonly="true" ng-model="myUserInfo.userName" value={{myUserInfo.userName}}
                                       required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>电话：</label>
                                <input type="text" class="form-control" ng-model="myUserInfo.userPhone" maxlength="11"  value={{myUserInfo.userPhone}}
                                       required>
                            </div>
                            <div class="col-md-6 ">
                                    <label>密码：</label>
                                    <input type="text" class="form-control" ng-model="myUserInfo.passWord"
                                           value={{myUserInfo.passWord}}
                                           required>
                            </div>

                            <div class="col-md-12 form-group" style="margin-top: 10px">
                                <label>备注信息:</label>
                                    <textarea name="stf_remark" readonly="true" ng-model="myUserInfo.note" maxlength="20" value={{myUserInfo.note}} rows="3"
                                              cols="20" class="form-control"
                                              required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="changeUserInfo()">
                    确认修改
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

