<div>
    <div class="page-title" style="margin-left: 10px;margin-bottom: 10px;margin-top: 10px">
        <div class="title_left">
            <h3>设备信息</h3>
        </div>
        <div style="float: right;margin-top: 20px;margin-bottom: 5px; " >
            <input type="button" class="btn btn-success" ng-click="showAllSelect()" value="查看所选设备最新位置" >
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="margin-left: 10px" cg-busy="{promise:loadRecordPromise,message:'加载中',backdrop:false}">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading row" role="tab">
                    <div class="col-md-1" style="float: left;width: 20px;">
                            <input  type="checkbox"  id="selectAllRow"
                                    ng-click="selectAllRow()"
                                    ng-model="selectAll"  style="margin: 0px">
                    </div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">设备名称</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">租用商</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">租用商电话</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">录入时间</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">有效期限</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">最新位置</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">历史位置</h4></div>
                </div>
            </div>

            <div class="panel panel-default" ng-repeat="deviceRecord in deviceRecordList">
                <div class="panel-heading row" role="tab">
                    <div class="col-md-1" style="float: left;width: 20px;">
                        <input type="checkbox" value={{deviceRecord.deviceId}} name="gridRow"
                               ng-checked="selectAll">
                    </div>
                    <div class="col-md-2"><h4 class="panel-title" align="center"><a href="" ng-click="getDeviceHisDataById(deviceRecord.deviceId,deviceRecord.deviceName)">{{deviceRecord.deviceName}}</a></h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{deviceRecord.lesseeName}}</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{deviceRecord.lesseePhone}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{deviceRecord.regTime | date:'yyyy-MM-d HH:mm:ss'}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{deviceRecord.validTime | date:'yyyy-MM-d HH:mm:ss'}}</h4></div>
                    <div class="col-md-1">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-success"
                                    ng-click="showNowPosition(deviceRecord.deviceId,deviceRecord.deviceName)"
                                    loading="">最新位置
                            </button>
                        </h4>
                    </div>
                    <div class="col-md-1">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-success" loading=""
                                    ng-click="deviceHistory(deviceRecord.deviceId,deviceRecord.deviceName)">
                                历史位置
                            </button>
                        </h4>
                    </div>

                </div>
            </div>

            <div style="text-align: right;margin-right: 10px;">
                <div style="float: right">
                    <ul id="page1" style="padding-right: 20px; margin: 5px;"></ul>
                </div>
                <div style="height: 40px;line-height: 40px; font-size: 18px ">
                    记录总数：{{nowDeviceTotalCount}}<label style="margin-left: 10px;font-weight:normal;">页码:</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modifyModal" tabindex="-1" role="dia"
         aria-labelledby="modifyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">设备当前位置</h3>
                            </div>
                            <div id="map" class="panel-body"
                                 style="display: block;width:100%;height: 500px;overflow: hidden;margin:0;font-family:'微软雅黑';">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--设备历史记录查看日期设置-->
    <div class="modal fade bs-example-modal-lg" id="devicehistorymodal" tabindex="-1" role="dia" aria-labelledby="modifyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modifyModalLabel">{{}}</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">{{myDeviceName}}设备历史位置</h3></div>
                            <div class="panel-body" style="display: block;margin: 0px;padding: 0px">

                                <div class="col-md-5 field-box" >
                                    <label class="control-label">开始日期</label>
                                    <div class="input-group date" id="startdatepicker">
                                        <input class="form-control" type="text" ng-model="startTime" value="{{startTime | date:'dd/MM/yyyy'}}">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <div class="col-md-5 field-box">
                                    <label class="control-label">截止日期</label>
                                    <div class="input-group date" id="enddatepicker">
                                        <input class="form-control" type="text" ng-model="endTime" value="{{endTime | date:'dd/MM/yyyy'}}">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <button class="col-md-1 btn btn-success" loading="" ng-click="getHisData()" style="margin-top: 20px">查询</button>
                            </div>
                        </div>
                    </div>
                    <div id="hisMap" style="width: 100%;height: 500px;"></div>

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="deviceHisModal" tabindex="-1" role="dia" aria-labelledby="modifyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deviceHisModalLabel">设备 {{deviceHisRecordName}} 历史记录</h4>
                </div>
                <div class="modal-body" style="background-color: white" cg-busy="{promise:loadDeviceHisPromise,message:'加载中',backdrop:false}">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading row" style="border-radius:0px ;border: 0px;background-color: white">
                                <div class="col-md-1"><h4 class="panel-title" align="center">记录ID</h4></div>
                                <div class="col-md-2"><h4 class="panel-title" align="center">经度</h4></div>
                                <div class="col-md-2"><h4 class="panel-title" align="center">纬度</h4></div>
                                <div class="col-md-2"><h4 class="panel-title" align="center">设备状态</h4></div>
                                <div class="col-md-2"><h4 class="panel-title" align="center">gps状态</h4></div>
                                <div class="col-md-3"><h4 class="panel-title" align="center">采集时间</h4></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-repeat="deviceRecord in deviceHisRecordList">
                        <div class="panel-heading row" role="tab" style="border-radius:0px;border:0px;background-color: white " >
                            <div class="col-md-1"><h4 class="panel-title" align="center">{{deviceRecord.deviceRecordId}}</h4></div>
                            <div class="col-md-2"><h4 class="panel-title" align="center">{{deviceRecord.longitude}}</h4></div>
                            <div class="col-md-2"><h4 class="panel-title" align="center">{{deviceRecord.latitude}}</h4></div>
                            <div class="col-md-2"><h4 class="panel-title" align="center" ng-class="{1:'info',0:'danger'}[deviceRecord.status]">{{deviceRecord.status | deviceStatusFilter}}</h4></div>
                            <div class="col-md-2"><h4 class="panel-title" align="center" ng-class="{1:'danger',0:'info'}[deviceRecord.locationStatus]">{{deviceRecord.locationStatus | deviceLocationStatusFilter}}</h4></div>
                            <div class="col-md-3"> <h4 class="panel-title" align="center">{{deviceRecord.realTime | date:'yyyy-MM-dd HH:mm:ss'}}</h4></div>
                        </div>
                    </div>

                    <div style="text-align: right">
                        <ul id="page2" style="padding-right: 10px;margin: 5px;"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

