<div>
    <div class="page-title" style="margin-left: 10px;margin-bottom: 10px;margin-top: 10px">
        <div class="title_left">
            <h3>设备位置查看</h3>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row" style="margin-left: 10px" cg-busy="{promise:loadRecordPromise,message:'加载中',backdrop:false}">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading row" role="tab">
                    <div class="col-md-1"><h4 class="panel-title" align="center">设备Id</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">设备名称</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">设备当前位置</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">设备历史位置记录</h4></div>
                </div>
            </div>

            <div class="panel panel-default" ng-repeat="deviceRecord in deviceRecordList">
                <div class="panel-heading row" role="tab">
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{deviceRecord.deviceId}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{deviceRecord.deviceName}}</h4></div>
                    <div class="col-md-2">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-success"
                                    ng-click="showNowPosition(deviceRecord.deviceId,deviceRecord.deviceName)"
                                    loading="">设备当前位置
                            </button>
                        </h4>
                    </div>
                    <div class="col-md-2">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-success" loading="" ng-click="devicehistory(deviceRecord.deviceId)">
                                历史位置
                            </button>
                        </h4>
                    </div>
                </div>
            </div>
            <div style="text-align: right">
                <ul id="page1"></ul>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modifyModal" tabindex="-1" role="dia"
         aria-labelledby="modifyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">{{showLocationDeviceName}}的当前位置</h3>
                            </div>
                            <div id="map" class="panel-body"
                                 style="display: block;width:100%;height: 500px;overflow: hidden;margin:0;font-family:'微软雅黑';">
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

