<div>
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-12">
                <h3>新增设备</h3>
            </div>
        </div>

        <div class="row form-wrapper">
            <!-- left column -->
            <div class="col-md-9 with-sidebar">
                <div class="container">
                    <form class="new_user_form" name="deviceadd" novalidate ng-submit="addDevice()"
                          cg-busy="{promise:addDevicePromise,message:'加载中',backdrop:false}">
                        <div class="col-md-12 field-box">
                            <label>设备名称:</label>
                            <input class="form-control" type="text" name="deviceName"  required ng-model="deviceName"/>
                        </div>
                        <div class="col-md-6 field-box">
                            <label>设备有效期限:</label>
                                <div class=" col-input-group date" id="datepicker">
                                    <input class="form-control" type="text" required ng-model="date">
                                    <span class="input-group-addon" style="display: none"></span>
                                </div>
                        </div>
                        <div class="col-md-12 field-box">
                            <label>租赁方:</label>
                            <input class="form-control" type="text" name="lesseeName" required ng-model="lesseeName"/>
                        </div>
                        <div class="col-md-12 field-box">
                            <label>租赁方电话:</label>
                            <input class="form-control" type="text"
                                   name="lesseePhone" ng-pattern="/^[1][3458][0-9]{9}$/"required ng-model="lesseePhone"/>
                            <span style="color: #a5393a; line-height: 30px; font-weight: bold; font-size: 12px;"
                                  ng-show="deviceadd.lesseePhone.$error.pattern">请输入正确的手机号码</span>
                             <span style="color: #a5393a; line-height: 30px; font-weight: bold; font-size: 12px;"
                                   ng-show="deviceadd.lesseePhone.required">*必填项</span>
                        </div>

                        <div class="col-md-10 field-box actions">
                            <input type="submit" class="btn-glow primary" ng-disabled="deviceadd.$invalid"  value="增加设备" loading="">
                            <!--<spsan>OR</spsan>-->
                            <!--<input type="reset" value="Cancel" class="reset">-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
