
<script src="../js/libs/theme.js"></script>
<header class="navbar navbar-inverse" role="banner">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1 class="navbar-brand" style="color: #e2e2e2">监控管理系统</h1>
    </div>
    <ul class="nav navbar-nav pull-right hidden-xs">
        <li class="dropdown" ng-class="{true:'open'}[isActive]" ng-click="changeActive()">
            <a href="" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                {{userName}}的账号
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="float: right">
                <li><a href="" ng-click="inOutClick()" style="overflow: hidden">退出登录</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- end navbar -->

<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li ng-show="showManage">
            <a class="dropdown-toggle" href="#">
                <i class="icon-edit"></i>
                <span>设备</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="#main/devicelist">设备操作</a></li>
                <li><a href="#main/adddevice">新增设备</a></li>
            </ul>
        </li>
        <li ng-show="showManage">
            <a class="dropdown-toggle" href="#">
                <i class="icon-group"></i>
                <span>用户</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="#main/userlist">用户列表</a></li>
                <li><a href="#main/adduser">添加用户</a></li>
            </ul>
        </li>
        <li>
            <a href="#main/devicelocation">
                <i class="icon-calendar-empty"></i>
                <span>设备信息</span>
            </a>
        </li>

        <li>
            <a href="#main/commandList">
                <i class="icon-picture"></i>
                <span>命令记录</span>
            </a>
        </li>



    </ul>
</div>
<!-- end sidebar -->


<!-- main container -->
<div ui-view class="content"></div>
