<div style="background:url('../img/deciveloaction.png');">
    <div class="page-title" style="padding-bottom: 10px;padding-top: 10px">
        <div class="title_left" >
            <h3 style="font-weight:bold;">设备统计</h3>
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{'hand': 1,'active':pdtOnSale[0]}"><a class="hand" ng-click="showDeviceLocationBarChart()">结点分布</a></li>
    <li role="presentation" ng-class="{'hand': 1,'active':pdtOnSale[1]}"><a class="hand" ng-click="allPdtList(0)">详细列表</a></li>
</ul>
<div id="container" style="min-width:700px;height:400px;margin-top:80px;">

</div>