<div style="margin-left:20px;margin-top: 20px; ">
    <div class="col-md-12" style="float: right">
        <button type="button"  class="btn btn-primary" style="float: right" ng-click="timerRefresh()">自动刷新</button>
        <select  style="height: 30px; float: right"  ng-model="timerDefine">
            <option value="1">手动刷新</option>
            <option value="300">5分钟</option>
            <option value="600">10分钟</option>
            <option value="1800">30分钟</option>
        </select>
    </div>
    <form class="form-inline" ng-show="pdtOnSale[0]||pdtOnSale[1]||pdtOnSale[2]">
        <div class="form-group">
            <label>设备名</label>
            <input type="text" class="form-control" id="searchDeviceName" name="searchDeviceName" ng-model="searchDeviceName">
        </div>
        <div class="form-group">
            <label>租赁商</label>
            <input type="text" class="form-control" id="searchLessName" name="searchLessName" ng-model="searchLessName">
        </div>
        <div class="form-group">
            <label>录入时间</label>
            <div class="input-group date" id="startdatepicker">
                <input class="form-control" type="text"   placeholder="开始日期" id="startSearchDate">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <div class="input-group date" id="enddatepicker">
                <input class="form-control" type="text"   placeholder="截止日期" id="endSearchDate">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>

        <div class="form-group">
            <label>有效期</label>
            <div class="input-group date" id="startvaliddatepicker">
                <input class="form-control" type="text"   placeholder="开始日期" id="startValidSearchDate">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <div class="input-group date" id="endvaliddatepicker">
                <input class="form-control" type="text"   placeholder="截止日期" id="endValidSearchDate">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <button type="button"  class="btn btn-primary" ng-click="searchDevice()">搜索</button>
            <button type="button"  class="btn btn-primary" ng-click="printData()">打印</button>
        </div>

    </form>
    <form class="form-inline" ng-show="pdtOnSale[3]||pdtOnSale[4]">
        <div class="form-group">
            <label>设备名</label>
            <input type="text" class="form-control" id="searchExceptionDeviceName" name="searchExceptionDeviceName" ng-model="searchExceptionDeviceName">
        </div>
        <div class="form-group">
            <label>租赁商</label>
            <input type="text" class="form-control" id="searchExceptionLessName" name="searchExceptionLessName" ng-model="searchExceptionLessName">
        </div>
        <button type="button"  class="btn btn-primary" ng-click="searchDevice()">搜索</button>
        <button type="button"  class="btn btn-primary" ng-click="printData()">打印</button>
    </form>




    <div class="clearfix"></div>
    <div class="row" cg-busy="{promise:loadDevicePromise,message:'加载中',backdrop:false}">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'hand': 1,'active':pdtOnSale[0]}"><a ng-click="allPdtList(0)">正常设备</a>
            </li>
            <li role="presentation" ng-class="{'hand': 1,'active':pdtOnSale[1]}"><a
                    ng-click="alreadyOnList(1)">即将过期设备
                <span class="count">{{odTotalCount}}</span></a></li>
            <li role="presentation" ng-class="{'hand': 1,'active':pdtOnSale[2]}"><a
                    ng-click="alreadyOffList(2)">关闭设备</a></li>
            <li role="presentation" ng-class="{'hand': 1,'active':pdtOnSale[3]}"><a
                    ng-click="alreadyErrorList(3)">位置异常设备<span class="count">{{positionTotalCount}}</span></a></li>
            <li role="presentation" ng-class="{'hand': 1,'active':pdtOnSale[4]}"><a
                    ng-click="communicationErrorList(4)">通信异常设备<span class="count">{{commuTotalCount}}</span></a></li>
        </ul>
        <div class="panel-group">
            <div class="panel panel-default" ng-show="!pdtOnSale[4]">
                <div class="panel-heading row">
                    <div class="col-md-2"><h4 class="panel-title" align="center">设备名称</h4></div>
                    <div class="col-md-1" ng-show="!deviceErrorType"><h4 class="panel-title" align="center">设备有效期</h4>
                    </div>
                    <div class="col-md-2" ng-show="!deviceErrorType"><h4 class="panel-title" align="center">租赁方</h4>
                    </div>
                    <div class="col-md-1" ng-show="!deviceErrorType"><h4 class="panel-title" align="center">租赁方电话</h4>
                    </div>
                    <div class="col-md-1" ng-show="!deviceErrorType"><h4 class="panel-title" align="center">设备状态</h4>
                    </div>
                    <div class="col-md-1" ng-show="!deviceErrorType"><h4 class="panel-title" align="center">录入时间</h4>
                    </div>
                    <div class="col-md-1" ng-show="!deviceErrorType"><h4 class="panel-title" align="center">设备操作</h4>
                    </div>
                    <div class="col-md-1" ng-show="!deviceErrorType&&!deviceManageType"><h4 class="panel-title"
                                                                                            align="center">增加有效期</h4>
                    </div>
                    <div class="col-md-2" ng-show="!deviceErrorType"><h4 class="panel-title" align="center">证书文件</h4>
                    </div>
                    <div class="col-md-2" ng-show="deviceErrorType"><h4 class="panel-title" align="center">租赁方</h4>
                    </div>
                    <div class="col-md-1" ng-show="deviceErrorType"><h4 class="panel-title" align="center">租赁方电话</h4>
                    </div>
                    <div class="col-md-1" ng-show="deviceErrorType"><h4 class="panel-title" align="center">异常开始时间</h4>
                    </div>
                    <div class="col-md-1" ng-show="deviceErrorType"><h4 class="panel-title" align="center">异常截止时间</h4>
                    </div>
                    <div class="col-md-1" ng-show="deviceErrorType"><h4 class="panel-title" align="center">异常次数</h4>
                    </div>
                    <div class="col-md-2" ng-show="deviceErrorType"><h4 class="panel-title" align="center">操作</h4></div>
                    <div class="col-md-2" ng-show="deviceErrorType"><h4 class="panel-title" align="center">设备异常位置</h4>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-show="!deviceErrorType&&!pdtOnSale[4]" ng-repeat="device in deviceList">
                <div class="panel-heading row" role="tab">
                    <div class="col-md-2"><h4 class="panel-title" align="center"><a href=""
                                                                                    ng-click="getDeviceHisDataById(device.deviceId,device.deviceName)">
                        {{device.deviceName}}</a></h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{device.validTime | date:'yyyy-MM-d HH:mm:ss'}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{device.lesseeName}}</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{device.lesseePhone}}</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center" >{{device.deviceStatus |deviceStatusFilter}}</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{device.regTime | date:'yyyy-MM-dd HH:mm:ss'}}</h4></div>
                    <div class="col-md-1">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-danger"
                                    ng-click="changeDeviceManageStatus(device.deviceId,device.deviceName,device.validTime)"
                                    loading="">{{deviceMangeName}}
                            </button>
                        </h4>
                    </div>
                    <div class="col-md-1" ng-show="!deviceManageType">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-success"
                                    ng-click="modify(device.deviceId,device.deviceName,device.validTime)" loading="">
                                增加有效期
                            </button>
                        </h4>
                    </div>
                    <div class="col-md-2">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-success" loading="" ng-click="downloadFile(device.deviceId)">下载
                            </button>
                            <button class="btn btn-primary" ng-disabled="device.updateCRT" ng-click="updateDeviceCRT(device.deviceId)">更新
                            </button>
                        </h4>
                    </div>

                </div>
            </div>


            <div class="panel panel-default" ng-show="deviceErrorType&&pdtOnSale[3]" ng-repeat="deviceError in deviceErrorList">
                <div class="panel-heading row" role="tab">
                    <div class="col-md-2"><h4 class="panel-title" align="center"><a href=""
                                                                                    ng-click="getDeviceHisDataById(deviceError.deviceId,deviceError.deviceName)">
                        {{deviceError.deviceName}}</a></h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{deviceError.lesseeName}}</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{deviceError.lesseePhone}}</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{deviceError.startTime |
                        date:'yyyy-MM-dd HH:mm:ss'}}</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{deviceError.endTime |
                        date:'yyyy-MM-dd HH:mm:ss'}}</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{deviceError.errorNumber}}</h4></div>
                    <div class="col-md-2">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-success" loading=""
                                    ng-click="errorConfirm(deviceError.deviceId,deviceError.startTime,deviceError.endTime)">
                                忽略
                            </button>
                            <button class="btn btn-danger"
                                    ng-click="changeErrPositionDeviceStatus(deviceError.deviceId,deviceError.startTime,deviceError.endTime)"
                                    loading="">关闭
                            </button>
                        </h4>
                    </div>
                    <div class="col-md-2">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-success" loading=""
                                    ng-click="getHisData(deviceError.deviceId,deviceError.startTime,deviceError.endTime)">
                                设备异常位置
                            </button>
                        </h4>
                    </div>
                </div>
            </div>
            <!--通信异常列表-->
            <div class="panel panel-default" ng-show="pdtOnSale[4]">
                <div class="panel-heading row">
                    <div class="col-md-2"><h4 class="panel-title" align="center">设备名称</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">最后通信时间</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">租用商</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">租用商电话</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">有效期</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">录入时间</h4></div>
                </div>
            </div>
            <div class="panel panel-default" ng-show="pdtOnSale[4]" ng-repeat="device in deviceCommuList">
                <div class="panel-heading row">
                    <div class="col-md-2"><h4 class="panel-title" align="center"><a href="" ng-click="getDeviceHisDataById(device.deviceId,device.deviceName)">
                        {{device.deviceName}}</a></h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{device.lastCommunicateTime | date:'yyyy-MM-dd HH:mm:ss'}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{device.lesseeName}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{device.lesseePhone}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{device.validTime | date:'yyyy-MM-dd HH:mm:ss'}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{device.regTime | date:'yyyy-MM-dd HH:mm:ss'}}</h4></div>
                </div>
            </div>
            <!--分页工具栏-->

            <div style="text-align: right">
                <div style="float: right">
                    <ul id="page1" style="padding-right: 20px; margin: 5px;"></ul>
                </div>
                <div style="height: 40px;line-height: 40px; font-size: 18px ">
                记录总数：{{nowDeviceTotalCount}}
                    <label style="margin-left: 10px;font-weight:normal;">页码:</label>
                </div>

            </div>
        </div>
        <!--增加期限弹出框-->
        <div class="modal fade bs-example-modal-lg" id="modifyModal" tabindex="-1" role="dia"
             aria-labelledby="modifyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modifyModalLabel">{{}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title">设备基本信息</h3></div>
                                <div class="panel-body" style="display: block">
                                    <div class="col-md-7 field-box">
                                        <label>设备名称：</label>
                                        <input type="text" class="form-control" ng-model="modifyDeviceName"
                                               value={{modifyDeviceName}}
                                               readonly="readonly" required ng-disabled="false">
                                    </div>
                                    <div class="col-md-7 field-box" style="margin-top: 10px">
                                        <label>设备当前有效期：</label>
                                        <input type="text" class="form-control" ng-model="modifyNowValidTime"
                                               value="{{modifyNowValidTime | date:'dd/MM/yyyy'}}"
                                               readonly="readonly" required ng-disabled="false">
                                    </div>

                                    <div class="col-md-7 field-box" style="margin-top: 10px">
                                        <label class="control-label">设备有效期</label>

                                        <div class="input-group date" id="datepicker">
                                            <input class="form-control" type="text" ng-model="modifyDeviceValidTime"
                                                   value="{{modifyDeviceValidTime | date:'dd/MM/yyyy'}}">
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <label class="radio-inline"><input type="radio" name="optradio" value="0" ng-model="add">无</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" value="1" ng-model="add">三个月</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" value="2" ng-model="add">六个月</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" value="3" ng-model="add">1年</label>

                                    </div>

                                    <div class="col-md-7 field-box" style="margin-top: 10px">
                                        <label>增加有效期原因:</label>
                                        <select name="singleSelect" ng-model="addReason">
                                            <option value="1">续费</option>
                                            <option value="2">协商延期</option>
                                            <option value="3">其他</option>
                                        </select>
                                    </div>

                                    <div class="col-md-7 field-box" style="margin-top: 10px">
                                        <label>备注:</label>
                                        <textarea class="form-control"  ng-maxlength="20" name="addNote" ng-model="addNote" required
                                                  placeholder="输入不能为空，最多输入20字符"></textarea>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="changeDevice()">
                            确认修改
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!--设备历史记录弹出框-->
        <div class="modal fade bs-example-modal-lg" id="deviceHisModal" tabindex="-1" role="dia"
             aria-labelledby="modifyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deviceHisModalLabel">设备 {{deviceHisRecordName}} 历史记录</h4>
                    </div>
                    <div class="modal-body" style="background-color: white"
                         cg-busy="{promise:loadDeviceHisPromise,message:'加载中',backdrop:false}">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading row"
                                     style="border-radius:0px ;border: 0px;background-color: white">
                                    <div class="col-md-1"><h4 class="panel-title" align="center">记录ID</h4></div>
                                    <div class="col-md-2"><h4 class="panel-title" align="center">经度</h4></div>
                                    <div class="col-md-2"><h4 class="panel-title" align="center">纬度</h4></div>
                                    <div class="col-md-2"><h4 class="panel-title" align="center">设备状态</h4></div>
                                    <div class="col-md-2"><h4 class="panel-title" align="center">gps状态</h4></div>
                                    <div class="col-md-3"><h4 class="panel-title" align="center">采集时间</h4></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-repeat="deviceRecord in deviceHisRecordList">
                            <div class="panel-heading row" role="tab"
                                 style="border-radius:0px;border:0px;background-color: white ">
                                <div class="col-md-1"><h4 class="panel-title" align="center">
                                    {{deviceRecord.deviceRecordId}}</h4></div>
                                <div class="col-md-2"><h4 class="panel-title" align="center">
                                    {{deviceRecord.longitude}}</h4></div>
                                <div class="col-md-2"><h4 class="panel-title" align="center">
                                    {{deviceRecord.latitude}}</h4></div>
                                <div class="col-md-2"><h4 class="panel-title" align="center"
                                                          ng-class="{1:'info',0:'danger'}[deviceRecord.status]">
                                    {{deviceRecord.status | deviceStatusFilter}}</h4></div>
                                <div class="col-md-2"><h4 class="panel-title" align="center"
                                                          ng-class="{1:'danger',0:'info'}[deviceRecord.locationStatus]">
                                    {{deviceRecord.locationStatus | deviceLocationStatusFilter}}</h4></div>
                                <div class="col-md-3"><h4 class="panel-title" align="center">{{deviceRecord.realTime |
                                    date:'yyyy-MM-dd HH:mm:ss'}}</h4></div>
                            </div>
                        </div>

                        <div style="text-align: right">
                            <ul id="page2" style="padding-right: 20px;margin: 5px;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--异常位置显示-->
        <div class="modal fade bs-example-modal-lg" id="errormodifyModal" tabindex="-1" role="dia"
             aria-labelledby="modifyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title">异常设备位置</h3>
                                </div>
                                <div id="errormap" class="panel-body"
                                     style="display: block;width:100%;height: 500px;overflow: hidden;margin:0;font-family:'微软雅黑';">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>