<div>
    <div class="page-title" style="margin-left: 10px;margin-bottom: 10px;margin-top: 10px">
        <div class="title_left">
            <h3 style="font-weight:bold;">用户列表</h3>
        </div>
    </div>
    <form class="form-inline" style="margin-left: 10px">
        <div class="form-group">
            <label>用户名</label>
            <input type="text" style="width: 135px" class="form-control" id="searchUserName" name="searchUserName" ng-model="searchUserName">
        </div>
        <div class="form-group">
            <label>电话</label>
            <input type="text" style="width: 135px" class="form-control" id="searchUserPhone" name="searchUserPhone" ng-model="searchUserPhone">
        </div>
        <div class="form-group">
            <label>添加时间</label>
            <div class="input-group date" id="startdatepicker">
                <input class="form-control" style="width: 135px" type="text"   placeholder="开始日期" id="startSearchDate">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <div class="input-group date" id="enddatepicker">
                <input class="form-control" style="width: 135px" type="text"   placeholder="截止日期" id="endSearchDate">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <button type="button"  class="btn btn-primary" ng-click="searchUser()">搜索</button>
        <button type="button"  class="btn btn-primary" ng-click="printData()">打印</button>

    </form>
    <div class="clearfix"></div>
    <div class="row" style="margin-top: 5px" cg-busy="{promise:loadUserPromise,message:'加载中',backdrop:false}">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading row" role="tab">
                    <div class="col-md-2"><h4 class="panel-title" align="center">用户名</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">电话</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">类型</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">添加时间</h4></div>
                    <div class="col-md-3"><h4 class="panel-title" align="center">备注</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">操作</h4></div>
                </div>
            </div>
            <div class="panel panel-default" ng-repeat="account in userList">
                <div class="panel-heading row" role="tab">
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{account.userName}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{account.userPhone}}</h4></div>
                    <div class="col-md-1"><h4 class="panel-title" align="center">{{account.type | userTypeFilter}}</h4></div>
                    <div class="col-md-2"><h4 class="panel-title" align="center">{{account.registerDate | date:'yyyy-MM-dd HH:mm:ss'}}</h4></div>
                    <div class="col-md-3"><h4 class="panel-title" align="center">{{account.note}}</h4></div>
                    <!--<div class="col-md-3"><h4 class="panel-title" align="center"><a class="hand" ng-click="chkstfinfo(stf.id)">查看详细信息</a>-->
                    <div class="col-md-2">
                        <h4 class="panel-title" align="center">
                            <button class="btn btn-primary"
                                    ng-click="modify(account.userName,account.userPhone,account.note,account.id,account.type,account.passWord)"
                                    loading="">修改
                            </button>
                            <button class="btn btn-danger"
                                    ng-click="deleteUser(account.id)"
                                    loading="">删除
                            </button>
                        </h4>
                    </div>
                </div>
            </div>
            <div style="text-align: right">
                <div style="float: right">
                    <ul id="page1" style="padding-right: 20px; margin: 5px;"></ul>
                </div>
                <div style="height: 40px;line-height: 40px; font-size: 18px ">
                    记录总数：{{userTotalCount}}<label style="margin-left: 10px;font-weight:normal;">页码:</label>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改用户信息Modal -->
    <div class="modal fade bs-example-modal-lg" id="modifyModal" tabindex="-1" role="dialog"
         aria-labelledby="modifyModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">用户信息修改</h3></div>
                            <div class="panel-body">
                                <div class="col-md-6 form-group">
                                    <label>姓名：</label>
                                    <input type="text" name="userName" readonly="true" class="form-control" ng-model="userName"}
                                           required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>电话：</label>
                                    <input type="text" name="userPhone" class="form-control" ng-model="userPhone"}
                                           required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="col-md-6 " style="padding-left: 0px">
                                        <label>密码：</label>
                                        <input type="text" name="modifyUserPassWord" class="form-control" ng-model="modifyUserPassWord"
                                               required>
                                    </div>
                                    <div class="col-md-6 ">
                                        <label>用户权限:</label>
                                        <div style="margin-top: 5px;">
                                        <label class="radio-inline"><input type="radio" name="optradio" value="1"
                                                                           ng-model="modifyUserType">管理员权限</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" value="0"
                                                                           ng-model="modifyUserType">普通用户权限</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>备注信息：（最多不超过20个字符）</label>
                                    <textarea name="stf_remark" maxlength="20" ng-model="note" value={{note}} rows="3"
                                              cols="20" class="form-control"
                                              required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="changeUserInfo()">
                        确认修改
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /修改拓展员信息Modal-->
</div>

