<style type="text/css">


        tr th{
            width: 20%;
            text-align: center;
        }
        tr td{
            width: 20%;
            text-align: center;
        }
    </style>


<div >
   <div id="pieContainerOne" style="position:absolute;z-index:2008;top:0px;min-width:50%;height:300px;float:left;margin:0px;pargin:0px;display: inline;">

    </div>

    <div id="pieContainerTwo" style="min-width:50%;height:300px;float:right;margin:0px;padding:0px;display: inline;">

    </div>
        <table class="table table-bordered" style="min-width:1000px;position: relative;margin:0px;padding:0px;">
            <thead>
                <tr>
                    <th >租赁商</th>
                    <th >设备总数</th>
                    <th >正常设备数</th>
                    <th >欠费设备数</th>
                    <th>即将欠费设备数</th>
                </tr>
            </thead>
        </table>
    </div>

<div id="A1" style="min-width:1000px;height:200px;overflow: scroll;overflow-x:hidden;overflow-y:hidden;position: relative;margin:0px;padding:0px;">
    <div id="A2" style="min-width:1100px;height:200px;overflow: scroll;overflow-x:hidden;overflow-y:auto;position: relative;margin:0px;padding:0px;">
        <table class="table table-hover table-bordered" style="min-width:1000px;position: relative;margin:0px;padding:0px;">
        <tbody ng-repeat="lesseeDeviceInfo in lesseeDeviceInfoList">
            <tr>
                <td >{{lesseeDeviceInfo.lesseeName}}</td>
                <td >{{lesseeDeviceInfo.totalDeviceNum}}</td>
                <td >{{lesseeDeviceInfo.normalDeviceNum}}</td>
                <td >{{lesseeDeviceInfo.arrearageDeviceNum}}</td>
                <td >{{lesseeDeviceInfo.willArrearageDeviceNum}}</td>
            </tr>
            <!--<tr>-->
                <!--<td >{{lesseeDeviceInfo.lesseeName}}</td>-->
                <!--<td >{{lesseeDeviceInfo.totalDeviceNum}}</td>-->
                <!--<td >{{lesseeDeviceInfo.normalDeviceNum}}</td>-->
                <!--<td >{{lesseeDeviceInfo.arrearageDeviceNum}}</td>-->
                <!--<td >{{lesseeDeviceInfo.willArrearageDeviceNum}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td >{{lesseeDeviceInfo.lesseeName}}</td>-->
                <!--<td >{{lesseeDeviceInfo.totalDeviceNum}}</td>-->
                <!--<td >{{lesseeDeviceInfo.normalDeviceNum}}</td>-->
                <!--<td >{{lesseeDeviceInfo.arrearageDeviceNum}}</td>-->
                <!--<td >{{lesseeDeviceInfo.willArrearageDeviceNum}}</td>-->
            <!--</tr>-->
        </tbody>
        </table>
    </div>
</div>

