<div>
    <div id="pad-wrapper" class="new-user" style="margin: 5px;padding: 5px;" >
        <div class="row header">
            <div class="col-md-12">
                <h3>添加用户</h3>
            </div>
        </div>

        <div class="row form-wrapper">
            <!-- left column -->
            <div class="col-md-11 with-sidebar">
                <div class="container">
                    <form class="new_user_form" name="useradd" novalidate ng-submit="addUser()" cg-busy="{promise:addUserPromise,message:'加载中',backdrop:false}">
                        <div class="col-md-12 field-box">
                            <label>用户名:</label>
                            <input class="col-md-9 form-control" type="text" name="userName" required ng-model="userName"  />
                        </div>

                        <div class="col-md-12 field-box">
                            <label>用户手机:</label>
                            <input class="col-md-9 form-control" type="text" name="userPhone" required ng-model="userPhone"/>
                        </div>
                        <div class="col-md-12 field-box">
                            <label>密码:</label>
                            <input class="col-md-9 form-control" type="password" name="passWord" required ng-model="passWord"/>
                        </div>
                        <div class="col-md-12 field-box">
                            <label>确认密码:</label>
                            <input class="col-md-9 form-control" type="password" name="confirmPassword" required ng-model="confirmPassword"/>
                        </div>

                        <div class="col-md-12 field-box textarea">
                            <label>备注:</label>
                            <textarea class="col-md-9" ng-maxlength="100" name="note" ng-model="note"></textarea>
                            <span class="charactersleft">最多输入100字符</span>
                        </div>
                        <div class="col-md-9" field-box>
                            <label>用户权限:</label>
                            <label class="radio-inline"><input type="radio" name="optradio" value="1" ng-model="userType">管理员权限</label>
                            <label class="radio-inline"><input type="radio" name="optradio" value="0"   ng-model="userType">普通用户权限</label>
                        </div>

                        <div class="col-md-11 field-box actions">
                            <input type="submit" class="btn-glow primary" ng-disabled="useradd.$invalid" value="增加用户" loading="">
                            <spsan>OR</spsan>
                            <input type="reset" value="Cancel" class="reset">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
