<div class="login-wrapper ">
    <h1 class="logo">监控管理系统</h1>
    <div class="box">
        <div class="content-wrap" cg-busy="{promise:loginPromise,message:'加载中',backdrop:false}">
            <h6>登录</h6>
            <form action="#" method="post">
                <input class="form-control" type="text" placeholder="用户名" name="userName" ng-model="userName">
                <input class="form-control" style="margin-bottom: 30px;" type="password" name="passWord" ng-model="passWord" placeholder="密码">

                <a class="btn-glow primary login" ng-click="checkSubmit()" loading="">登录</a>
            </form>
        </div>
    </div>
</div>
