<div class="login-wrapper"  style="margin-top: 100px">
    <!--<img src="../img/bgs/1-denglu.png" height="100%" width="100%"/>-->
    <div class="box" >
        <div class="content-wrap" cg-busy="{promise:loginPromise,message:'加载中',backdrop:false}">
            <div style="width: 200px;margin: 10px auto 10px auto">
            <form action="#" method="post">
                <!--<p>用户名:</p>-->
                <input class="form-control" type="text" placeholder="用户名" name="userName" ng-model="userName" >
                <!--<p>密码:</p>-->
                <br><br/>
                <input class="form-control" style="margin-bottom: 30px;" type="password" name="passWord" ng-model="passWord" placeholder="密码">

                <a class="btn btn-primary login"  ng-click="checkSubmit()" ng-enter="checkSubmit()"  loading="">登录</a>
            </form>
            </div>
        </div>
    </div>
</div>
